/*
Plugin Name:       [MyDesignStudio] Display Posts Shortcode
Plugin URI:        https://github.com/alexbarmin/mds-display-posts-shortcode
Description:       Плагин позволяет показывать список постов из указанных категорий в любом месте страницы по шаблону из текущей темы
Version:           1.0.0
Author:            Александр Бармин
License:           GNU General Public License v2
License URI:       http://www.gnu.org/licenses/gpl-2.0.html
Domain Path:       /languages
Text Domain:       mds-display-posts-shortcode
GitHub Plugin URI: https://github.com/alexbarmin/mds-display-posts-shortcode
GitHub Branch:     master
*/